@charset "utf-8";

* {
  margin: 0;
  padding: 0
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none
}

a {
  text-decoration: none;
  color: #232323
}

img {
  border: none
}

input,
textarea {
  outline: 0;
  border: none;
  background: 0 0;
  font-size: 14px;
  font-family: Arial, "微软雅黑";
  -webkit-appearance: none
}

.clear {
  clear: both
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.ellipsis3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

body,
html {
  width: 100%;
  height: 100%;
  font: 14px Arial, "微软雅黑";
  font-family: Arial, "微软雅黑";
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  color: #232323;
}

body {
  overflow-x: hidden
}

img {
  float: none;
  max-width: 100%;
  height: auto
}

.fl {
  float: left
}

.fr {
  float: right
}

.clearfix:after {
  clear: both;
  display: block;
  content: ''
}

.clearfix {
  zoom: 1
}

.show {
  display: block
}

.hide {
  display: none
}